body {
  background-image: url(1603.jpeg);
  background-size: cover;
}
header {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  color: forestgreen;
  animation: color;
  animation-duration: 10s;
}
#info {
  text-align: center;
  font-size: 25px;
  color: dodgerblue;
  animation: name;
  animation-duration: 10s;
}
img {
  border-radius: 50%;
  position: absolute;
  bottom: 360px;
}
#C {
  position: absolute;
  top: 5px;
  left: 850px;
  border-radius: 35px;
  border-style: solid;
  border-color: slateblue;
  background-color: white;
  padding: 5px;
}
#H {
  position: absolute;
  top: 5px;
  left: 750px;
  border-style: solid;
  border-radius: 35px;
  border-color: slateblue;
  background-color: white;
  padding: 5px;
}
#H:hover {
  background-color: hotpink;
  animation: change;
  animation-duration: 10s;
  background-repeat: repeat;
  border-radius: 5px;
}
#C:hover {
  background-color: hotpink;
  animation: back;
  animation-duration: 10s;
  background-repeat: repeat;
  border-radius: 5px;
}
@keyframes change {
  100% {
    background-color: hotpink;
  }
  80% {
    background-color: pink;
  }
  60% {
    background-color: indianred;
  }
  40% {
    background-color: skyblue;
  }
  60% {
    background-color: steelblue;
  }
  80% {
    background-color: slateblue;
  }
}
@keyframes back {
  100% {
    background-color: hotpink;
  }
  80% {
    background-color: pink;
  }
  60% {
    background-color: indianred;
  }
  40% {
    background-color: skyblue;
  }
  60% {
    background-color: steelblue;
  }
  80% {
    background-color: slateblue;
  }
}
#H:active {
  color: black;
}
#C:active {
  color: black;
}
@keyframes color {
  100% {
    color: forestgreen;
  }
  80% {
    color: violet;
  }
  
  60% {
    color: pink;
  }
  40% {
    color: cadetblue;
  }
  60% {
    color: yellow;
  }
  80% {
    color: springgreen;
  }
}
@keyframes name {
  100% {
    color: dodgerblue;
  }
  80% {
    color: violet;
  }
  60% {
    color: pink;
  }
  40% {
    color: cadetblue;
  }
  60% {
    color: yellow;
  }
  80% {
    color: springgreen;
  }
}
