body {
  overflow: hidden;
  background-image: url(129731.jpeg);
  background-size: cover;
}
img {
  border-radius: 50%;
}
header {
  font-size: 50px;
  position: absolute;
  color: black;
  font-weight: bold;
  top: 100px;
  border-style: solid;
  border-radius: 8px;
  border-width: 8px;
  border-color: white;
  animation: border;
  animation-duration: 20s;
}
#C {
  position: absolute;
  top: 5px;
  left: 850px;
  border-style: solid;
  border-radius: 35px;
  padding: 5px; 
  border-color: slateblue;
  background-color: white;
}
#H {
  position: absolute;
  top: 5px;
  left: 750px;
  border-style: solid;
  border-radius: 35px; 
  padding: 5px;
  border-color: slateblue;
  background-color: white;
}
#H:hover {
  background-color: hotpink;
  animation: change;
  animation-duration: 10s;
  background-repeat: repeat;
  border-radius: 5px;
}
#C:hover {
  background-color: hotpink;
  animation: back;
  animation-duration: 10s;
  background-repeat: repeat;
  border-radius: 5px;
}
#H:active {
  color: black;
}
#C:active {
  color: black;
}
@keyframes change {
  100% {
    background-color: hotpink;
  }
  80%{
   background-color: pink;
  }
  60% {
    background-color: indianred;
  }
  40% {
    background-color: skyblue;
  }
  60% {
    background-color: steelblue;
  }
  80% {
    background-color: slateblue;
  }
}
@keyframes back {
  100% {
    background-color: hotpink;
  }
  80% {
    background-color: pink;
  }
  60% {
    background-color: indianred;
  }
  40% {
    background-color: skyblue;
  }
  60% {
    background-color: steelblue;
  }
  80% {
    background-color: slateblue;
  }
}
@keyframes border {
  100% {
    border-color: white;
  }
  80% {
    border-color: steelblue;
  }
  60% {
    border-color: blue;
  }
  80% {
    border-color: yellow;
  }
  100% {
    border-color: red;
  }
  80% {
    border-color: seagreen;
  }
  60% {
    border-color: hotpink;
  }
  80% {
    border-color: rebeccapurple;
  }
  100% {
    border-color: violet;
  }
}
.hidden {
  position: absolute;
  top: 60px;
  left: 470px;
  animation: bounce;
  animation-duration: 5s;
}
h3 {
  position: absolute;
  top: 10px;
  left: 500px;
  animation: head;
  animation-duration: 5s;
}
@keyframes bounce {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(0, 200px, 0); }
}
@keyframes head {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(0, 200px, 0); }
}
.loader {

  border: 16px solid #f3f3f3; /* Light grey */

  border-top: 16px solid #3498db; /* Blue */

  border-radius: 50%;

  width: 120px;

  height: 120px;

  animation: spin 2s linear infinite;
  
  position: absolute;
  
  top: 180px;
  
  right: 180px;
  

}

@keyframes spin {

  0% { transform: rotate(0deg); }

  100% { transform: rotate(360deg); }
  
  100 { opacity: 1; }
  
  0% { opacity: 0; }

}
